@import 'tokkens';
@import 'mixins';

.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-items: center;
    column-gap: 10px;
}

