@import 'tokkens';

@mixin font-style-global($weight){
    font-family: "Barlow Semi Condensed";
    font-size: 13px;
    font-weight: $font-weight-$weight;
}
@mixin style-card($background-color) {
    position: relative;
    width: 100%;
    background-color: $background-color;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    @if $background-color == $accent-color or $background-color == $pimary-gray-blue or $background-color == $primary-dark-blue {
        color: $primary-white;
    } 
    @else{
        color: $primary-dark-blue;
    }
    &h2{
        margin-top: 0px;
    }
}
