$accent-color: hsl(263, 55%, 52%);

$pimary-gray-blue: hsl(217, 19%, 35%);
$primary-dark-blue: hsl(219, 29%, 14%);
$primary-white: hsl(0, 0%, 100%);

$neutral-light-gray: hsl(0, 0%, 81%);
$neutral-light-gray-blue: hsl(210, 46%, 95%);

$font-size-body-small: 13px;
$font-size-body-medium: 15px;
$font-weight-general: 500;
$font-weight-bold: 600;
