@import 'tokkens';
@import 'mixins';
@media only screen and (min-width: 375px){ 
    @import 'mobile';
}
@media only screen and (min-width: 1440px){ 
    @import 'desktop';
}


body{
    font-size: $font-size-body;
    width: 80%;
    margin: auto;
    background-color: $neutral-light-gray;
    color: $neutral-dark-blue;
}
header {
    width: 100%;
    margin: auto;
    text-align: center;
}

.card-cyan{
    @include style-card($primary-cyan);
    & .icon{
        @include icon-card-style('images/icon-supervisor.svg');
    };
}
.card-red{
    @include style-card($primary-red);
    & .icon{
        @include icon-card-style('images/icon-supervisor.svg');
    };
}
.card-blue{
    @include style-card($primary-blue);
    & .icon{
        @include icon-card-style('images/icon-supervisor.svg');
    };
}
.card-orange{
    @include style-card($primary-orange);
    & .icon{
        @include icon-card-style('images/icon-supervisor.svg');
    };
}

