@import 'tokkens';
@import 'mixins';
@media only screen and (min-width: 375px){ 
    @import 'mobile';
}
@media only screen and (min-width: 1440px){ 
    @import 'desktop';
}


body{
    font-size: $font-size-body;
    width: 80%;
    margin: auto;
    background-color: $neutral-light-gray-blue;
}


.card-top-left{
    @include style-card($accent-color);
}
.card-top-right{
    @include style-card($pimary-gray-blue );
}
.card-bottom-left{
    @include style-card($primary-white);
}
.card-bottom-right{
    @include style-card($primary-dark-blue);
}
.card-asside{
    @include style-card($primary-white);
}

